@import "../../../styles/variables";

.heading {
  &__title {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    color: $color-primary-light;
  }

  &__subtitle {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: $color-gray;
  }

  &__container {
    max-width: 60rem;
    margin: 0 auto;
  }

  &__button_wrapper {
    width: 24rem;
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
  }
}
