@import "../../styles/variables";

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.navbar {
  position: fixed;
  position: -webkit-sticky;
  padding: 2rem 0;
  z-index: 10;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    height: 5rem;

    &_item {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      list-style: none;
      transition: all 0.1s;

      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      cursor: pointer;

      &_link_light {
        color: $color-primary-light;
        text-decoration: none;

        &:hover {
          transform: scale(1.05);
          border-bottom: 1px solid $color-primary-light;
        }
      }

      &_link_dark {
        color: $color-black;
        text-decoration: none;

        &:hover {
          transform: scale(1.05);
          border-bottom: 1px solid $color-black;
        }
      }

      &:active {
        transform: translateY(-1px) scale(0.98);
      }
    }
  }
}

.navbar_scrolled {
  position: fixed;
  position: -webkit-sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: rgba($color-black, 0.5);
  transition: all 0.3s;
}

.active_dark {
  border-bottom: 1px solid $color-black;
}

.active_light {
  border-bottom: 1px solid $color-primary-light;
}

.navbar__burger {
  box-sizing: border-box;
  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    height: 100vh;
    font-size: 2rem;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 2rem;
    background-color: rgba($color-black, 0.95);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    color: #fff;

    &_item {
      margin: 1rem 0;
    }
  }

  &_cancel {
    z-index: 50;
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  &_icon {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 1rem 1rem rgba($color-black, 0.2);
    }
  }
}
