@import "../../../styles/variables";
@import "../../../styles/animations";

.logos {
  &_container {
    background-color: $color-white;
    margin-top: 18rem;
    height: 13.4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    animation: moveInBottom 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
}
