// Colors
$color-primary: #0f33ff;
$color-primary-light: #ecefff;

$color-gray: #8e929f;
$color-white: #fff;
$color-black: #140F29;


// Screens

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
