.main {
  // background-color: #d32f2f;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem;
  max-width: 110rem;
  width: 90%;
  height: 100;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
