.main {
  position: static;
  margin-top: 10vh;
  padding: 2rem;
  max-width: 127rem;
  width: 90%;
  height: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.designers {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20rem;

    background: transparent linear-gradient(165deg, #ecefff66 0%, #ecefff 100%) 0% 0% no-repeat
      padding-box;
    opacity: 1;
  }
}

.spacer {
  position: relative;
  margin-top: 15rem;
  margin-bottom: 20rem;
  width: 100%;
}
